<section class="flex gap-2">
    <div class="flex flex-col gap-2 p-4 w-full">
        <div class="border-2 border-solid border-black flex flex-col gap-2">
            <input type="text" name="produit" id="produit" [(ngModel)]="produit" placeholder="Nom du produit" />
            <input type="text" name="calcule" id="calcule" [(ngModel)]="calcule" readonly>
            <div class="flex gap-1">
                <div class="w-full">
                    <input class="w-full" type="text" name="total" id="total" [(ngModel)]="total" readonly>
                </div>
                <select name="unite" id="unite" [(ngModel)]="unite">
                    <option value="m²">m²</option>
                    <option value="ml">ml</option>
                    <option value="m³">m³</option>
                    <option value="u">u</option>
                    <option value="l">l</option>
                </select>
            </div>
        </div>

        <div class="inline-grid gap-4 grid-cols-4 grid-rows-5" id="calculator">
            <div class="border-2 border-solid border-black p-1 text-center" (click)="onButtonClicked('(')">(</div>
            <div class="border-2 border-solid border-black p-1 text-center" (click)="onButtonClicked(')')">)</div>
            <div class="border-2 border-solid border-black p-1 text-center" (click)="onButtonClicked('AC')">AC</div>
            <div class="border-2 border-solid border-black p-1 text-center" (click)="onButtonClicked('/')">/</div>

            <div class="border-2 border-solid border-black p-1 text-center" (click)="onButtonClicked('7')">7</div>
            <div class="border-2 border-solid border-black p-1 text-center" (click)="onButtonClicked('8')">8</div>
            <div class="border-2 border-solid border-black p-1 text-center" (click)="onButtonClicked('9')">9</div>
            <div class="border-2 border-solid border-black p-1 text-center" (click)="onButtonClicked('*')">*</div>

            <div class="border-2 border-solid border-black p-1 text-center" (click)="onButtonClicked('4')">4</div>
            <div class="border-2 border-solid border-black p-1 text-center" (click)="onButtonClicked('5')">5</div>
            <div class="border-2 border-solid border-black p-1 text-center" (click)="onButtonClicked('6')">6</div>
            <div class="border-2 border-solid border-black p-1 text-center" (click)="onButtonClicked('-')">-</div>

            <div class="border-2 border-solid border-black p-1 text-center" (click)="onButtonClicked('1')">1</div>
            <div class="border-2 border-solid border-black p-1 text-center" (click)="onButtonClicked('2')">2</div>
            <div class="border-2 border-solid border-black p-1 text-center" (click)="onButtonClicked('3')">3</div>
            <div class="border-2 border-solid border-black p-1 text-center" (click)="onButtonClicked('+')">+</div>

            <div class="border-2 border-solid border-black p-1 text-center" (click)="onButtonClicked('0')">0</div>
            <div class="border-2 border-solid border-black p-1 text-center" (click)="onButtonClicked('.')">,</div>
            <div class="border-2 border-solid border-black p-1 text-center" (click)="onButtonClicked('=')">=</div>
            <div class="border-2 border-solid border-black p-1 text-center cursor-pointer" (click)="ajouterALaListe()">
                Enter</div>
        </div>
    </div>
    <div class="flex flex-col gap-2 p-4 w-full">
        <ul class="list-none flex flex-col gap-2">
            <li class="border-2 border-solid border-black p-3 flex justify-between" *ngFor="let calcul of listeCalculs"
                (click)="selectionnerElement(calcul)">
                <div>
                    {{ calcul.titre }}
                </div>
                <div>
                    {{ calcul.resultat }}{{ calcul.unite }}
                </div>
            </li>
        </ul>

        <div class="flex gap-2 justify-center">
            <div class="flex bg-slate-200 p-3 rounded-xl">
                <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
                <button (click)="fileInput.click()">Importer un fichier CSV</button>
            </div>
            <button class="bg-slate-200 p-3 rounded-xl">imprimer</button>
            <button class="bg-slate-200 p-3 rounded-xl" (click)="exportToCSV()">Exporter en CSV</button>
        </div>
    </div>
</section>